<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">ISBN</th>
      <th scope="col">Publisher</th>
    </tr>
  </thead>
  <tbody>
      <tr mdbTableCol *ngFor="let book of mockBooks">
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.price | currency}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.publisher}}</td>
      </tr>
  </tbody>
</table>
