<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Weight</th>
        <th scope="col">Calories</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let food of foods" >
        <td>{{food.name}}</td>
        <td>{{food.brand}}</td>
        <td>{{food.weight}}</td>
        <td>{{food.calories}}</td>
        <td>{{food.price | currency}}</td>
      </tr>
    </tbody>
  </table>
