@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  font-family: Ubuntu;
  font-smooth: always;
  font-smooth: 5em;
}

.btn-group{
  margin: .25rem;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}

.margin {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}
