<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>TEST</h1>
<h2>BIKES</h2>
<app-bikes-list></app-bikes-list>
<h2>BOOKS</h2>
<app-books-list></app-books-list>
<h2>DVDS</h2>
<app-dvds-list></app-dvds-list>
<h2>FOODS</h2>
<app-foods-list></app-foods-list>
<h2>LAPTOPS</h2>
<app-laptops-list></app-laptops-list>
<h2>TOYS</h2>
<app-toys-list></app-toys-list>
</body>
</html>
