<div class="btn-group center" role="group" aria-label="Tabel nav">
<button type="button" class="btn btn-dark" routerLink="" >All</button>
<button type="button" class="btn btn-primary" routerLink="/bikes">Bikes</button>
<button type="button" class="btn btn-secondary" routerLink="/toys">Toys</button>
<button type="button" class="btn btn-success" routerLink="/laptops">Laptops</button>
<button type="button" class="btn btn-danger" routerLink="/dvds">Dvds</button>
<button type="button" class="btn btn-warning"  routerLink="/books">Books</button>
<button type="button" class="btn btn-info"  routerLink="/foods">Food</button>
</div>
