<div class="btn-group center" role="group" aria-label="Tabel nav">
    <button type="button" class="btn btn-dark" routerLink="">All</button>
    <button type="button" class="btn btn-primary" (click)="displayBikes()">Bikes</button>
    <button type="button" class="btn btn-secondary" (click)="displayToys()">Toys</button>
    <button type="button" class="btn btn-success" (click)="displayLaptops()">Laptops</button>
    <button type="button" class="btn btn-danger" (click)="displayDvds()">Dvds</button>
    <button type="button" class="btn btn-warning" (click)="displayBooks()">Books</button>
    <button type="button" class="btn btn-info" (click)="displayFoods()">Food</button>
</div>