<div class="card">
  <div class="bike-card">
    <h1 class="title bikes">Bikes</h1>
    <app-bikes-list></app-bikes-list>
  </div>
  <div class="toys-card">
    <h2 class="title toys">Toys</h2>
    <app-toys-list></app-toys-list>
  </div>
  <div class="laptops-card">
    <h3 class="title laptops">Laptops</h3>
    <app-laptops-list></app-laptops-list>
  </div>
  <div class="dvds-card">
    <h3 class="title dvd">DVDs</h3>
    <app-dvds-list></app-dvds-list>
  </div>
  <div class="book-card">
    <h3 class="title books">Books</h3>
    <app-books-list></app-books-list>
  </div>
  <div class="food-card">
    <h3 class="title food">Food</h3>
    <app-foods-list></app-foods-list>
  </div>  
</div>
